$gl-height-30: var(--gl-height-30);
$gl-radius-4: var(--gl-radius-4);
/* header */
header {
  .header-hat {
    background: $black-d;
    .translate {
      span {
        display: inline-block;
        margin: 13px 0;
        font-size: 10px;
        font-weight: $wt-bold;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $white;
        cursor: pointer;
        &.active {
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
  .navbar {
    &-left {
      display: flex;
      align-items: center;
      .logo {
        display: block;
        width: 100px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &-items {
      display: flex;
      margin: 0;
      margin-left: 98px;
    }
    &-item {
      margin: 26px 0;
      margin-right: 24px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &-link {
      display: inline-block;
      font-size: 14px;
      line-height: 19.6px;
      letter-spacing: 0.1px;
      color: $black;
      font-weight: $wt-medium;
    }
    &-right {
      display: flex;
      align-items: center;
      .btn-exit {
        margin-right: 15px;
        font-size: 16px;
        line-height: 22.4px;
        font-weight: normal;
        padding: 4px 8px;
        background: $black-05;
        border: none;
        border-radius: $gl-radius-4;
        cursor: pointer;
      }
      .registration {
        margin-right: 43px;
        font-size: 16px;
        line-height: 22.4px;
        font-weight: normal;
        padding: 4px 8px;
        background: $yellow;
        border: none;
        border-radius: $gl-radius-4;
      }
      .btn-carts {
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;
        position: relative;
        span {
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          width: 11px;
          height: 11px;
          background: transparent;
          border: 1.5px solid #ffffff;
          border-radius: 50%;
          transform: translate(-4px, -1px);
          &.active {
            background: #ff3636;
          }
        }
      }
    }
  }
}
/* / header */

main {
  background: #e5e5e5;
}
/* section-hero */
main .hero {
  width: 100%;
  overflow: hidden;
  .swiper-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(99.05deg, #e1aa00 0%, #ffc000 74.72%);
    .swiper-pagination {
      bottom: 33px;
      span {
        width: 8px;
        height: 8px;
        background: rgba(13, 13, 13, 0.2);
        position: relative;
        margin-right: 36px;
        opacity: 1;
        &:last-of-type {
          margin-right: 0;
        }
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          content: "";
          display: block;
          width: 32px;
          height: 32px;
          background: transparent;
          border: 1px solid rgba(13, 13, 13, 0);
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }
        &.swiper-pagination-bullet-active {
          background: rgba(13, 13, 13, 1);
          &::after {
            border: 1px solid rgba(13, 13, 13, 1);
          }
        }
      }
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 49.9%;
      width: 100%;
      height: 396px;
      background: $black;
      transform: translate(-50%, -50%);
      z-index: 5;
    }
  }

  &-left {
    position: relative;
    z-index: 10;
    h2 {
      width: 588px;
      margin: 0;
      margin-top: 233px;
      font-size: 34px;
      line-height: 47.6px;
      font-weight: $wt-bold;
      text-align: start;
      color: $white;
    }
    p {
      width: 588px;
      margin: 0;
      margin-top: 16px;
      font-size: 14px;
      line-height: 19.6px;
      font-weight: $wt-medium;
      color: $white;
      text-align: start;
    }
    a {
      margin-top: 24px;
      display: flex;
      align-items: center;
      height: 19.6px;
      img {
        display: block;
        width: 8px;
        height: 8px;
        margin-right: 4px;
      }
      span {
        display: block;
        font-size: 14px;
        line-height: 14px;
        font-weight: $wt-semi-bold;
        text-transform: uppercase;
        text-align: start;
        color: $yellow;
      }
    }
  }
  &-right {
    position: relative;
    z-index: 10;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/* / section-hero */

/* advantages */
main .advantages {
  .global-title {
    margin-top: 67px;
  }
  &-item {
    width: 294px;
    height: 144px;
    margin-top: 24px;
    background: $white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      margin-top: 45px;
      font-weight: normal;
      font-size: 16px;
      line-height: 22.4px;
    }
  }
}
/* / advantages */

/* best-products */
main .best-products {
  .global-title {
    margin-top: 80px;
  }
}
/* / best-products */

/* categories */
main .categories {
  margin-top: 64px;
  &-item {
    margin-top: 38px;
    position: relative;
    overflow: hidden;
    &:hover {
      .categories-img {
        img {
          transform: translateY(-78px);
        }
      }
      .categories-link {
        height: 78px;
      }
    }
  }
  &-img {
    width: 100%;
    height: 352px;
    img {
      width: 100%;
      height: 100%;
      transform: translateY(0);
      transition: all 400ms ease-in-out;
    }
  }
  &-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: $wt-semi-bold;
    line-height: 24px;
    color: $yellow;
    background: #0d0d0d;
    overflow: hidden;
    transition: all 400ms ease-in-out;
  }
}
/* / categories */
